# Создано https://www.toptal.com/developers/gitignore/api/windows
# Редактировать в https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Файлы кэша миниатюр Windows
Thumbs.db
Thumbs.db: зашифрованный 
ehthumbs.db 
ehthumbs_vista.db

# Файл дампа 
*.stackdump

# Файл конфигурации папки
[Dd]esktop.ini

# Корзина, используемая в общих файловых ресурсах
$ RECYCLE.BIN/

# Файлы установщика Windows 
*.cab
*.msi
* .msix 
*.msm
*.msp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Ярлыки Windows 
*.lnk

# Конец https://www.toptal.com/developers/gitignore/api/windows
